[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
psycopg2-binary = "*"
django-environ = "*"
djangorestframework = "*"
django-extensions = "*"
requests = "*"
django-seed = {editable = true, git = "https://github.com/kronnakrit/django-seed"}
drf-yasg = "*"
djangorestframework-dataclasses = {editable = true, ref="v-stable", git="https://github.com/piti118/djangorestframework-dataclasses"}
flake8 = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "*"
beautifulsoup4 = "*"
line-bot-sdk = "*"
django-filter = "*"
sqlparse = "*"
freezegun = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.9"
