[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
dj-database-url = "*"
pytest-django = "*"
coverage = "*"
pytest-cov = "*"
psycopg2-binary = "*"
django-environ = "*"
djangorestframework = "*"
django-extensions = "*"
requests = "*"
django-seed = {editable = true, git = "https://github.com/kronnakrit/django-seed"}

[dev-packages]

[requires]
python_version = "3.9"
