<html>
<head>
    <meta charset="utf-8">
    <title>ไทยรอด Label</title>
    <link type="text/css" href="//www1.shippop.dev/assets/css/label-th.css?v=0.01061" rel="stylesheet">
    <style type="text/css" media="print">
        @page {
            size: A4 landscape;
        }
    </style>
    <style type="text/css">
        table.productlist, tr, th, td {
            border: 2px solid gray;
            border-collapse:collapse;
        }
    </style>
    <link type="text/css" href="//www1.shippop.dev/assets/vendor/font-awesome-4.7.0/css/font-awesome.min.css?v=0.01061"
          rel="stylesheet">
</head>
<body>

{% for label, shipment in pairs %}
    {{ label | safe }}
    {% include "shipment.html" with shipment=shipment %}
{% endfor %}
{% for shipment in leftover %}
    {% include "shipment.html" with shipment=shipment %}
{% endfor %}

</body>
</html>
